@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgb(100 116 139);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #d4d4d4;
    border-radius: 100vh;
    border: none;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #55ac99;
  }
}
